<div class="container-fluid" style="min-height:100vh">
<div class="row">
  <div class="col-8">
    <div *ngIf="isCartEmpty == false" class="basket w-100">
      <div class="basket-labels">
        <ul>
          <li class="item item-heading">Item</li>
          <li class="price">Price</li>
          <li class="quantity">Quantity</li>
          <li class="subtotal">Subtotal</li>
        </ul>
      </div>
      <div *ngFor="let item of sneakersInCart index as index" class="basket-product">
        <span hidden>{{index}}</span>
        <div class="item">
          <div class="product-image">
            <img src="{{item.url}}" alt="Placholder Image 2" class="product-frame">
          </div>
          <div class="product-details">
            <h1><strong><span class="item-quantity">{{item.sneakerName}}</span></strong></h1>
            <p><strong>{{item.color}}, Size {{item.size}}</strong></p>
            <p>Product Code - {{item.productCode}}</p>
          </div>
        </div>
        <div class="price">{{item.price}}</div>
        <div class="quantity">
          <input #quantity (change)="changeQuantity(quantity.valueAsNumber, item.detailId)" type="number" [value]="item.inCartQuantity" min="1"
                 class="quantity-field">
        </div>
        <div class="subtotal">{{item.subTotal}}</div>
        <div class="remove">
          <button (click)="removeItemFromCart(item.detailId, item.sneakerName, item.size)">Remove</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <h4 class="mb-3">Overview</h4>
        <dl class="dlist-align">
          <dt class="text-muted">Delivery:</dt>
          <dd>Directly Home</dd>
        </dl>
        <dl class="dlist-align">
          <dt class="text-muted">Delivery type:</dt>
          <dd>Standard</dd>
        </dl>
        <dl class="dlist-align">
          <dt class="text-muted">Payment method:</dt>
          <dd>{{method}}</dd>
        </dl>
        <hr>
        <dl class="dlist-align">
          <dt>Total:</dt>
          <dd class="h5">${{cartSubtotal}}</dd>
        </dl>
        <hr>
        <p class="small mb-3 text-muted">By clicking you are agree with terms of condition </p>
        <a href="#" class="btn btn-primary btn-block"> Button </a>

      </div> <!-- card-body.// -->
    </div> <!-- card.// -->
  </div> <!-- col.// -->
</div>
<!--  <aside *ngIf="isCartEmpty == false">-->
<!--    <div class="summary card">-->
<!--      <div class="summary-total-items"><span class="total-items"></span> Items in your Bag</div>-->
<!--      <div class="summary-total">-->
<!--        <div class="total-title">Total</div>-->
<!--        <div class="total-value final-value" id="basket-total">{{cartSubtotal}}</div>-->
<!--      </div>-->
<!--      <div class="summary-checkout">-->
<!--        <a href="/checkout" class="checkout-cta btn" style="background-color: rgba(0,0,0,0.28)">Go to Secure Checkout</a>-->
<!--      </div>-->
<!--    </div>-->
<!--  </aside>-->
  <div *ngIf="isCartEmpty == true">
      <div style="min-height: 5rem" class="row col-md-12 alert-warning">
        <span style="font-size: 5rem; text-align: center">Your cart is empty</span>
      </div>
    </div>
</div>

