<div class="row container-fluid" style="min-height:100vh">
  <main class="col-md-8">

    <!--    <article class="card mb-4">-->
    <!--      <div class="card-body">-->
    <!--        <h4 class="card-title mb-4">Review cart</h4>-->
    <!--        <div class="row">-->
    <!--          <div class="col-md-6">-->
    <!--            <figure class="itemside  mb-4">-->
    <!--              <div class="aside"><img src="assets/images/items/1.jpg" class="border img-sm"></div>-->
    <!--              <figcaption class="info">-->
    <!--                <p>Apple iPad (2019) 32Gb Wi-Fi gold </p>-->
    <!--                <span class="text-muted">2x = $560 </span>-->
    <!--              </figcaption>-->
    <!--            </figure>-->
    <!--          </div> &lt;!&ndash; col.// &ndash;&gt;-->
    <!--          <div class="col-md-6">-->
    <!--            <figure class="itemside  mb-4">-->
    <!--              <div class="aside"><img src="assets/images/items/2.jpg" class="border img-sm"></div>-->
    <!--              <figcaption class="info">-->
    <!--                <p>Apple iPad (2019) 32Gb Wi-Fi gold </p>-->
    <!--                <span class="text-muted">2x = $560 </span>-->
    <!--              </figcaption>-->
    <!--            </figure>-->
    <!--          </div> &lt;!&ndash; col.// &ndash;&gt;-->
    <!--          <div class="col-md-6">-->
    <!--            <figure class="itemside mb-4">-->
    <!--              <div class="aside"><img src="assets/images/items/3.jpg" class="border img-sm"></div>-->
    <!--              <figcaption class="info">-->
    <!--                <p>Apple iPad (2019) 32Gb Wi-Fi gold </p>-->
    <!--                <span class="text-muted">2x = $560 </span>-->
    <!--              </figcaption>-->
    <!--            </figure>-->
    <!--          </div> &lt;!&ndash; col.// &ndash;&gt;-->
    <!--          <div class="col-md-6">-->
    <!--            <figure class="itemside  mb-4">-->
    <!--              <div class="aside"><img src="assets/images/items/4.jpg" class="border img-sm"></div>-->
    <!--              <figcaption class="info">-->
    <!--                <p>Apple iPad (2019) 32Gb Wi-Fi gold </p>-->
    <!--                <span class="text-muted">2x = $560 </span>-->
    <!--              </figcaption>-->
    <!--            </figure>-->
    <!--          </div> &lt;!&ndash; col.// &ndash;&gt;-->
    <!--        </div> &lt;!&ndash; row.// &ndash;&gt;-->
    <!--      </div> &lt;!&ndash; card-body.// &ndash;&gt;-->
    <!--    </article> &lt;!&ndash; card.// &ndash;&gt;-->


    <article *ngIf="isSignin === false" class="card mb-4">
      <div class="card-body">
        <h4 class="card-title mb-4">Contact info</h4>
        <form action="">
          <div class="row">
            <div class="form-group col-sm-6">
              <label>First name</label>
              <input type="text" placeholder="Type here" class="form-control">
            </div>
            <div class="form-group col-sm-6">
              <label>Last name</label>
              <input type="text" placeholder="Type here" class="form-control">
            </div>
            <div class="form-group col-sm-6">
              <label>Phone</label>
              <input type="text" value="+84" class="form-control">
            </div>
            <div class="form-group col-sm-6">
              <label>Email</label>
              <input type="email" placeholder="example@gmail.com" class="form-control">
            </div>
          </div> <!-- row.// -->
        </form>
      </div> <!-- card-body.// -->
    </article> <!-- card.// -->


    <article class="card mb-4">
      <div class="card-body">
        <h4 class="card-title mb-4">Delivery info</h4>
        <form action="">
          <div class="row">
            <div class="form-group col-sm-6">
              <label>Address*</label>
              <input type="text" placeholder="Type here" class="form-control">
            </div>
            <div class="form-group col-sm-6">
              <label>Phone Number*</label>
              <input type="text" placeholder="Type here" class="form-control">
            </div>
          </div> <!-- row.// -->
        </form>
      </div> <!-- card-body.// -->
    </article> <!-- card.// -->

  </main> <!-- col.// -->
  <aside class="col-md-4">
    <div class="card shadow">
      <div class="card-body">
        <h4 class="mb-3">Overview</h4>
        <dl class="dlist-align">
          <dt class="text-muted">Delivery:</dt>
          <dd>Directly Home</dd>
        </dl>
        <dl class="dlist-align">
          <dt class="text-muted">Delivery type:</dt>
          <dd>Standard</dd>
        </dl>
        <dl class="dlist-align">
          <dt class="text-muted">Payment method:</dt>
          <dd>{{method}}</dd>
        </dl>
        <hr>
        <dl class="dlist-align">
          <dt>Total:</dt>
          <dd class="h5">${{totalPrice}}</dd>
        </dl>
        <hr>
        <p class="small mb-3 text-muted">By clicking you are agree with terms of condition </p>
        <a href="#" class="btn btn-primary btn-block"> Button </a>

      </div> <!-- card-body.// -->
    </div> <!-- card.// -->
  </aside> <!-- col.// -->
</div> <!-- row.// -->


